<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${otsikko}">otsikko</title>
        <meta charset="utf-8" />
    </head>


    <body bgcolor="#D3D3D3">

        <h3>
            <script th:inline="javascript">
                var otsikko = /*[[${otsikko}]]*/ 'otsikko';
                document.write(unescape(otsikko));
            </script>
        </h3>

        <form>
            <fieldset style="background-color: #F5F5F5; color: #FF9900; text-shadow: initial">
                <legend> Keskustelut </legend>
                <table style="width:100%">
                    <tr style=" text-align: left; color: #333333 ">
                        <th>Otsikko</th>
                        <th>Viestejä yhteensä</th>
                        <th>Viimeisin</th>
                    </tr>
                    <tr th:each="keskustelu: ${keskustelut}">
                        <td>
                            <a th:href="@{~/chat/{id}/keskustelut(id=${keskustelu.getId()})}" style="color: #333333">
                                <script th:inline="javascript">
                                    var otsikko = /*[[${keskustelu.getOtsikko()}]]*/ 'otsikko';
                                    document.write(unescape(otsikko));
                                </script>
                            </a>

                        </td>
                        <td>
                            <span th:text="${keskustelu.getViesteja()}" style="color: #333333">viesteja</span>
                        </td>
                        <td>
                            <span th:text="${keskustelu.getViimeisin()}" style="color: #333333">viimeisin</span>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>

        <br/>

        <form method="POST" ath:action="@{~/chat/aiheet/{id}(id=${aihe.getId()})}">
            <fieldset style="background-color: #F5F5F5; color: #FF9900; text-shadow: initial">
                <legend> Luo uusi keskustelu </legend>
                <br/>
                Keskustelun otsikko:
                <br/>
                <input type="text" name="otsikko"/>
                <br/>
                <br/>
                <input type="submit" value="Luo"/>
                <br/>
            </fieldset>
            <br/>
            <fieldset>
                <a href="/chat/alueet">
                    <span> Takaisin </span>
                </a>
            </fieldset>
        </form>

    </body>

</html>