<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${otsikko}">otsikko</title>
        <meta charset="utf-8" />
    </head>


    <body bgcolor="#E6E6FA">

        <body>

            <h3 th:text="${otsikko}">testi</h3>

            <form>
                <fieldset>
                    <legend> Keskustelut </legend>
                    <br/>
                    <ul>
                        <li th:each="keskustelu: ${keskustelut}">
                            <a th:href="@{~/chat/{id}/keskustelut(id=${keskustelu.getId()})}" th:text="${keskustelu.getOtsikko()}"> otsikko</a>
                        </li>
                    </ul>
                    <br/>
                </fieldset>

            </form>
            
            <br/>

            <form method="POST" ath:action="@{~/chat/aiheet/{id}(id=${aihe.getId()})}">
                <fieldset>
                    <legend> Luo uusi keskustelu </legend>
                    <br/>
                    Keskustelun otsikko:
                    <br/>
                    <input type="text" name="otsikko"/>
                    <br/>
                    <br/>
                    <input type="submit" value="Luo"/>
                    <br/>
                </fieldset>
                <br/>
                <fieldset>
                    <input name="return" type="button" onclick="location.href = '/chat/alueet'" value="Takaisin"/>
                </fieldset>
            </form>

        </body>

    </body>

</html>