<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Keskustelufoorumi!</h1>

        <h2>Sisäänkirjautuminen</h2>

        <form method="POST" action="/chat">
            Nimimerkki:<br/>
            <input type="text" name="nimimerkki"/><br/>
            Salasana:<br/>
            <input type="password" name="salasana"/><br/>
            <input type="submit" value="Kirjaudu"/>
        </form>

        <a href="/chat/luokayttaja2">
            <h5>Luo käyttäjätunnus</h5>
        </a>

    </body>
</html>
