<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Chatikape</title>
        <meta charset="utf-8" />
    </head>

    <body bgcolor="#E6E6FA">
        <h2>Chatikape keskustelufoorumi</h2>


        <form method="POST" action="/chat">
            <fieldset>
                <legend> Sisään kirjautuminen </legend>
                <br/>
                Nimimerkki:
                <br/>
                <input type="text" name="nimimerkki"/>
                <br/>
                Salasana:
                <br/>
                <input type="password" name="salasana"/>
                <br/>
                <br/>
                <input type="submit" value="Kirjaudu sisään"/>
                <br/>
                <br/>
                <input name="register" type="button" onclick="location.href = '/chat/luokayttaja'" value="Luo käyttäjätunnus"/>
            </fieldset>
        </form>

        

    </body>
</html>