<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${otsikko}">otsikko</title>
        <meta charset="utf-8" />
        <style>
            div.scroll {
                overflow:auto;
                height:220px;              
            }

            th, td {
                border-bottom: 1px #333333;
                padding-left: 10px;
            }

            .b1 {border-bottom-style:solid;}
            .b2 {border-bottom-style:none;}

            tr:nth-child(even){background-color: #dcdcdc}  
        </style>
    </head>

    <body bgcolor="#D3D3D3">


        <h3>
            <script th:inline="javascript">
                var otsikko = /*[[${otsikko}]]*/ 'otsikko';
                document.write(unescape(otsikko));
            </script>
        </h3>

        <form>
            <fieldset style="background-color: #F5F5F5; color: #FF9900; text-shadow: initial">
                <legend> Viestit </legend>
                <table style="width:100%;">
                    <tr style=" text-align: left; color: #333333">
                        <th style="width:15%;" class="b1">Aika</th>
                        <th style="width:15%;" class="b1">Lähettäjä</th>
                        <th class="b1">Viesti</th>
                    </tr>
                </table>
                <div class="scroll" id="bottom">
                    <table style="width:100%;">
                        <tr th:each="viesti: ${viestit}">
                            <td style="width:15%;" class="b2">
                                <span th:text="${viesti.getPvm()}" style="color: #333333">pvm</span>
                            </td>
                            <td style="width:15%;color:#333333;" class="b2">
                                <script th:inline="javascript">
                                    var nimimerkki = /*[[${viesti.getKayttaja().getNimimerkki()}]]*/ 'nimimerkki';
                                    document.write(unescape(nimimerkki));
                                </script>
                            </td>
                            <td style="color:#333333;" class="b2">
                                <script th:inline="javascript">
                                    var viesti = /*[[${viesti.getTeksti()}]]*/ 'viesti';
                                    document.write(unescape(viesti));
                                </script>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>

        <script>
            var objDiv = document.getElementById("bottom");
            objDiv.scrollTop = objDiv.scrollHeight;
        </script>

        <br/>

        <form method="POST" th:action="@{~/chat/{id}/keskustelut(id=${keskustelu.getId()})}">
            <fieldset style="background-color: #F5F5F5; color: #FF9900; text-shadow: initial">
                <legend> Lähetä uusi viesti </legend>
                <br/>
                Viesti (max 160 merkkiä):
                <br/>
                <textarea name="viesti" rows="3" cols="75" wrap="Virtual"></textarea>
                <br/>
                <br/>
                <input type="submit" value="Lähetä"/>
                <input name="deleteAll" type="reset" value="Tyhjennä"/>
            </fieldset>
            <br/>
            <fieldset>
                <a th:href="@{~/chat/alueet/{id}(id=${keskustelu.getAlue().getId()})}">
                    <span> Takaisin </span>
                </a>
            </fieldset>
        </form>

    </body>
</html>
