<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${otsikko}">otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body bgcolor="#E6E6FA">

        <h3 th:text="${otsikko}">testi</h3>

        <form>
            <fieldset>
                <legend> Viestit </legend>
                <br/>
                <ul>
                    <li th:each="viesti: ${viestit}">
                        <span th:text="${viesti.toString()}"> viesti </span>
                    </li>
                </ul>
                <br/>
            </fieldset>
        </form>

        <br/>

        <form method="POST" th:action="@{~/chat/{id}/keskustelut(id=${keskustelu.getId()})}">
            <fieldset>
                <legend> Lähetä uusi viesti </legend>
                <br/>
                Viesti (max 160 merkkiä):
                <br/>
                <textarea name="viesti" rows="10" cols="75" wrap="Virtual"></textarea>
                <br/>
                <br/>
                Nimimerkki:
                <br/>
                <input type="text" name="nimimerkki"/>
                <br/>
                <br/>
                <input type="submit" value="Lähetä"/>
                <input name="deleteAll" type="reset" value="Tyhjennä"/>
            </fieldset>
            <br/>
            <fieldset>
                <input name="return" type="button" onclick="location.href = '@{~/chat/alueet/{id}(id=${keskustelu.getAlue().getId()})}'" value="Takaisin"/>
            </fieldset>
        </form>

    </body>
</html>
