<!DOCTYPE html>
 		
<TITLE>
Koodikeket-vastaa keskusteluaiheeseen
</TITLE>

<body bgcolor="#E6E6FA">

<h3> Vastaa keskusteluaiheeseen</h3>
<br>
<FORM>
<FORM METHOD="POST">
<!-- <ACTION="/cgi-bin/lomake.cgi"> -->

<FIELDSET>
<LEGEND> viesti</LEGEND>

<TEXTAREA NAME="keskustelu" 
ROWS="20" COLS="150" 
WRAP="Virtual"></TEXTAREA>
<br>
<br>

Kirjoita alla olevaan kenttään nimesi:
<br>

<input name="nimimerkki" value="" type="text">
<br>
<br>

<INPUT name="vastaa" value= "Vastaa viestiin" type="submit">
<INPUT name="tyhjennaViestikentta" value="Tyhjennä viestikenttä" type="reset"


</BODY>
</HTML>