<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Talous</h1>

        <ul>
            <li th:each="keskustelu: ${keskustelut}">
                <a href="/chat/talous">
                    <span th:text="${keskustelu.getOtsikko()}">otsikko</span>
                </a>
            </li>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.toString()}">viesti</span>
            </li>
        </ul>

        <form method="POST" action="/chat/talous">
            Nimimerkki:<br/>
            <input type="text" name="nimimerkki"/><br/>
            Viesti:<br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="Lähetä viesti"/>
        </form>
        
    </body>
</html>
